 body{
 	background-color: #86def1;
 }
#container{
	position: absolute;
	top:  0px;
	left: 0px;
}
.container-wrapper {
	background: url(sprites/dust.png);
	margin-top: 40px;
	height: 330px;
	width: 870px;
	position: relative;
	overflow: hidden;
}
 .title-menu{
 	float:left;
 	width:100%;
 	height:110px;
 	background-color: #222222;
 	padding-left: 30px;
 	border-bottom: 20px solid white;
 	background: url(/page/pattern.png) repeat-x;
 }
 .title-menu li{
	float: left;
	height: 120px;
	list-style-type:none;
 }
 .title-menu li a{
 	padding-left: 10px;
	padding-right: 10px;
 	text-decoration: none;
 	float:left;
 	height: 70px;
 	padding-top: 26px;
 	font-size: 14pt;
 	color:white; 	
 }
 .title-menu li a:hover{
 	color:#83cc25;
 }
 .logo{
 	position: absolute;
 	left: 50%;
 	top: 20px;
 	margin-left: -200px;
 }
 .create-room {
 	margin-top: 5px;
 	float: right !important;
 }
 .team {
 	color: white;
 	display: inline-block;
 	border-bottom: 1px dotted white;
 	margin: 10px 15px;
 	font-size: 15px;
 	cursor: pointer;
 	font-weight: bold;
 }
 .team:hover {
 	text-decoration: none;
 	color: white;
 }
 #our_team {
 	display: none;
 }
 .nice_block{
 	border-radius: 20px;
 	padding: 5px;
 	background-color: #c0540e;
 	position: absolute;
 	top:150px;
 	width:880px;
 	min-height:300px;
 	left:50%;
 	margin-left: -435px;
 }
 .nice_block > .game{
 	border-radius: 15px;
 	float:left;
 	background-color:white;
 }
 .footer {
 	min-height:80px;
 	margin-top:5px;
 	background-color: #2d3e50;
 	color:white;
 	padding:10px;
 	border-radius: 15px;
 	
 }
 .players{
 	border-radius: 15px 15px 0px 0px;
 	float:left;
 	width:870px;
 	height:80px;
 	background-color: #222222;
 }
 .player-info{
 	float:left;
 }
.player-info li{ width:195px;color:silver; height:80px;float:left; list-style: none; padding:5px; border-left:1px solid black; border-right:1px solid black; font-size: 12px;}
.pl_red{border-bottom:6px solid #c1392b;}
.pl_blue{border-bottom:6px solid #2a80b9;}
.pl_green{border-bottom:6px solid #27ae61;}
.pl_orange{border-bottom:6px solid #d55401;}

.bomber-ico{ width:24px; height:19px; float: right;}
.bomber-ico img{float:left; width:24px; height:19px;}

.pl_red .bomber-ico{background-color: #c1392b;}
.pl_blue .bomber-ico{background-color: #2a80b9;}
.pl_green .bomber-ico{background-color: #27ae61;}
.pl_orange .bomber-ico{background-color: #d55401;}

.pl_red h4 {color:#c1392b;}
.pl_blue h4 {color:#2a80b9;}
.pl_green h4 {color:#27ae61;}
.pl_orange h4 {color:#d55401;}


.player-info h4{margin-bottom: 5px; margin-top: 5px; }
.player-info hr{margin-bottom:3px;}
 .health{
 	height:10px;
 	width:100px;
 	float:left;
 	color:black;
 	font-weight: bold;
 	border-radius: 5px;
 	text-align: center;
 	font-size:8px;
 	background: url(/page/health.png) no-repeat;
 	background-position: -0px 0;
 	border:1px solid gray;
 }
 .weap-ico{
 	max-height: 14px;
 }

 .rooms_list{
 	padding-top:10px;
 	padding-bottom: 10px;
 	margin-left: 15px;
 	float:left;
 	width:830px;
 	color:black;
 	background-color: silver;
 	border-radius: 10px;
 	border: 3px solid #222222;
 }

 .tr1{
 	width:100px;
 }
 .login{
 	margin-left: 15px;
 	margin-top: 10px;
 	width:830px;
 	float: left;
 	border: 2px solid #1b952f;
 	font-size: 14pt;
 }


 .not-visible {
 	display: none;
 }

